
header {
  background-color: rgba(164, 165, 81, 0.664);
  display: flex;
  justify-content: center;
}

.why-header {
  text-align: center;
}

.DC2:hover {
  cursor: pointer
}

path {
  pointer-events: all;
}

path:hover {
  opacity: 0.50;
  cursor: pointer;
}

body{
  background-repeat: repeat;
  background-color: rgb(201, 201, 201);
}

.other-note {
  font-style: italic;
}

.save-button {
  text-align: center;
}

.title {
  display: flex;
  flex: 1;
  flex-direction: ;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.help-menu {
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.help-menu a:link {
  text-decoration: none;
  color: rgb(41, 40, 40);
}

.help-menu a:visited {
  text-decoration: dashed;
}

.help-menu a:hover {
  color: white;
  background-color: rgb(90, 138, 116)
}

.help-menu a:active {
  color: royalblue;
}

.help-item {
  padding: 0px 5px 0px 5px;
}

.membership {
  display: flex;
  flex: 4;
  justify-content: center;
  font-size: 15px;
  padding: 8px;
}

.membership a {
  text-decoration: none;
}

.sign-in-out {
  display: flex;
  background-color: rgb(211, 163, 112);
  border-radius: 5px 0px 0px 5px;
  color: white;
  padding: 8px;
}

.sign-up-saved {
  display: flex;
  background-color: rgb(104, 120, 109);
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 8px;
}

h1 {
  color: rgb(87, 75, 82);
  text-align: center;
  font-size: 24px;
}

fieldset {
  border-radius: 15px;
  border: 1px solid white;
}

.delete-save-form {
  height: 100px;
  position: relative;
  border: 1px solid gray;
  border-radius: 15px;
}

.delete-save-button {
  display: flex;
  justify-content: space-evenly
}

.charts-button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-box {
  width: 50%;
  margin: auto;
}

.state-selection {
  display: flex;
  justify-content: center;
}

.inspect-link {
  font-size: 10pt;
  color: black
}

.inspect-link a:link{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 10pt;
  color: black;
  text-decoration: none
}

.state-container h3 {
  font-size: 22px;
  color: black;
  text-decoration: underline;
}

.addtl h3 {
  text-align: left;
  font-size: 22px;
}

button {
  background-color: rgb(192, 192, 192);
  border-radius: 12px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 0.1px solid rgb(0, 0, 0);
  transition-duration: 2s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition-duration: 4s;
}

.addtl h2 {
  text-align: left;
  font-size: 16px;
}

.addtl li {
  text-align: left;
  list-style: none;
  list-style-position: inside;
}

.addtl a:link{
  color: seagreen;
}

.addtl a:hover{
  color: blue;
}

.addtl a:active {
  color: purple;
}

.state-container li {
  color: black;
}

.search-results {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.state-container {
  background-color: rgba(255, 255, 255, 0.354);
  display: flex;
  text-align: center;
  list-style: none;
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
  padding-bottom: 10px;
  border-style: inset;
  border-radius: 15px;
  border-color: rgba(128, 128, 128, 0.418);
  flex: 1 1 30%;
}

.state-page {
  display: grid;
  flex: row wrap;
}

.state-page-container {
  background-color: rgba(255, 255, 255, 0.354);
  display: flex;
  text-align: center;
  list-style: none;
  flex-flow: column wrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-style: inset;
  border-radius: 15px;
  border-color: rgba(128, 128, 128, 0.418);
  flex: 1 0 50%;
}

.state-chart-container {
  flex: 0 1 100%
}

.state-page-container h3 {
  font-size: 22px;
  color: black;
  text-decoration: underline;
}

.state-page-container li {
  color: black;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  font-weight: bolder;
  padding: 15px;
  display: flex;
}

.container h1 {
  font-size: 20px;
}

p {
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.forms {
  background-color: rgba(255, 255, 255, 0.158);
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

input {
  margin: 10px;
}

legend {
  width: auto;
  margin-left: auto;
  margin-right: auto
}

.ranking-list {
  list-style: none;
  font-size: 8.75pt;
  color: rgb(73, 73, 73)
}

.data-disclaimer {
  font-size: 14px;
  text-align: center;
}

.rc-table {
  display: none;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  font-weight: 650;
  color: rgb(1, 1, 55);
  padding-top: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

footer {
  font-size: 9pt;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.navbar {
  background-color: black;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  margin: 0 auto;
  height: 140px;
  align-content: flex-end
}

.navbar-icons {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: rgb(0, 0, 0);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 350ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 100;
}

.nav-text {
  color:white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
}

.nav-text a:hover {
  background-color: rgba(158, 152, 152, 0.322)
}

.nav-text a:active {
  background-color: rgba(128, 128, 128, 0.171)
}

.nav-menu-items {
  width: 100%
}

.navbar-toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px
}

.home, .login, . {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

* {
  box-sizing: border-box;
  font-family: Roboto
}


.responsiveTable {
  width: 100%;
  border-style: solid;
  border-collapse: collapse;
}

.responsiveTable td .tdBefore {
  display: none;
}

.responsiveTable th {
  background-color: black;
  color: white;
}

.responsiveTable th,
.responsiveTable td {
  border: 1px solid black;
}


@media screen and (max-width: 40em) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }


  .pivoted {
    border-style: solid;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: .25em;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;
    

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
    
  }
}



