header {
  margin: 10px;
  background-color: rgb(95, 162, 217);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.save-button {
  text-align: center;
}

.title {
  display: flex;
  flex: 1;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.help-menu {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.help-menu a:link {
  text-decoration: none;
  color: rgb(41, 40, 40);
}

.help-menu a:visited {
  text-decoration: dashed;
}

.help-menu a:hover {
  color: white;
  background-color: blue
}

.help-menu a:active {
  color: royalblue;
}

.help-item {
  padding: 0px 5px 0px 5px;
}

.membership {
  display: flex;
  flex: 4;
  justify-content: center;
  font-size: 15px;
  padding: 8px;
}

.membership a {
  text-decoration: none;
}

.sign-in-out {
  display: flex;
  background-color: rgb(20, 60, 93);
  border-radius: 5px 0px 0px 5px;
  color: white;
  padding: 8px;
}

.sign-up-saved {
  display: flex;
  background-color: rgb(20, 104, 132);
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 8px;
}

#results-list {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.stateContainer {
  background-color: rgba(110, 107, 107, 0.354);
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
  align-items: center;
  border-style: inset;
  border-radius: 5px;
  border-color: gray;
  flex: 1 0 45%
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  font-weight: 650;
  color: rgb(1, 1, 55);
  padding-top: 10px;
  text-align: center;
}

.chart {
}

.povertyChart {
  display: flex;
}

.raceChart {

}

.electionChart {

}

.foodChart {

}


/* here*/
body{
  background-repeat: repeat;
  background-color: lightblue;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  font-weight: bolder;
  padding: 15px;
}

.container h1, .container p{
  color: black;
}

.container h1 {
  font-size: 20px;
}

.container p {
  font-size: 12px;
}

.submitButton{
  text-align: center;
  margin-top: 15px;
}

#results-list {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

h3 {
  font-weight: 800;
}

.stateContainer {
  background-color: rgba(110, 107, 107, 0.354);
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-style: inset;
  border-radius: 5px;
  border-color: gray;
  width: 100%;
  flex-flow: column wrap;
  flex: 1 0 45%
}

.raceContainer {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  border-style: solid;
  padding: 20px;
  border-radius: 5px;
}

.electionContainer {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  border-style: solid;
  padding: 20px;
  border-radius: 5px;
}

.povertyContainer {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  border-style: solid;
  padding: 20px;
  border-radius: 5px;
}

.foodInsecurityContainer {
  margin: 5px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  border-style: solid;
  padding: 20px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}

li {
  font-weight: 650;
  color: rgb(1, 1, 55);
  padding-top: 10px;
  text-align: center;
}

.list-info{
  color: black;
  font-weight: 400;
}

h2 {
  text-align: center;
}

footer {
  font-size: 10pt;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: center;
}
/* 
@media only screen and (min-width: 600px) {
  .stateContainer {
  background-color: rgba(110, 107, 107, 0.354);
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  flex: 1 0 45%
}
} */


/* @media all and (min-width: 800px) {
  .membership {
    justify-content: right;
  }
} */